<app-hijo
(Message1)="recibirMensaje($event)"
(Message2)="recibirSegundo($event)"
(Message3)="recibirTercer($event)"
(Message4)="recibirCuarto($event)"
(Message5)="recibirQuinto($event)"
>
</app-hijo>
<div class="container col-6 mt-5">
  <h2 class="mb-2">@Output</h2>

  <ul>
    <li>
      {{ primerMensaje }}
    </li>
    <li>
      {{ segundoMensaje }}
    </li>
    <li>
      {{ tercerMensaje }}
    </li>
    <li>
      {{ cuartoMensaje }}
    </li>
    <li>
      {{ quintoMensaje }}
    </li>
  </ul>
</div>